<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing App</title>
</head>
<body style="background-color:#301e4e;">

    <%# when the that render part execute in the server at that time is should be visible %> 
    <% if (locals.fileLink != null) { %>
        <div style="margin-bottom: 1rem; color: white;margin-top: 2rem;font-size: x-large;">
          Your file is upload:
          <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
      <% } %>

    <form 
    action="/upload" 
    method="post" 
    style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;color:white;margin-top: 105px;font-size: x-large;border: 2px solid black;padding: 25px;"
    enctype="multipart/form-data" <%# it is show that form contains the file %> 
    >
        <label for="file">
            File:
        </label>
        <input type="file" id="file" name="file" required/>
        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password"/>
        <button  style="grid-column: span 2;" type="submit">Share File</button>
    </form>
</body>
</html>